{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "allowNamespaces": true,
        "allowDeclareFields": true
      }
    ]
  ],
  "env": {
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "cjs"
          }
        ]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },

    /**
     * Babel config for tests, use both locally and in CI when running test.
     */
    "test": {
      "presets": [
        [
          "@babel/preset-typescript",
          { "allowNamespaces": true, "allowDeclareFields": true }
        ],
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
